<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>File Uploader</title>
  </head>
  <body>
    <h1>File Uploader</h1>
    <% if (typeof user !== "undefined" && user) { %>
      <p>Logged in as <strong><%= user.username %></strong></p>
      <a href="/log-out">Log out</a>
    <% } else { %>
      <a href="/log-in">Log in</a> | <a href="/sign-up">Sign up</a>
    <% } %>
  </body>
</html>
